body {
  background-color: #87ceeb;
}
h1 {
  margin-top: 20px;
}
.greeting {
  font-style: italic;
  margin: 10px 0px 40px 0px;

}
.result {
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  padding: 30px;
  margin: 40px 0px 10px 0px;
  font-size: 30px;
}
.location, .weather {
  color: #228b22;
  margin: 10px 0px 10px 0px
}
.btn {
  margin: 10px;
}
.forecast {
  list-style: none;
}
.scene {
  height: 50%;
  width: 50%;
}